<ion-view view-title="Login">
    <ion-content ng-show="showLogin">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="email" ng-model="user.login">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password" ng-enter="login(user)">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-dark" ng-click="login(user)">
                Sign-In
            </button>
            <p class="text-center">
                <a href="#/forgot-password">Forgot password?</a>
            </p>
        </div>
    </ion-content>
</ion-view>