<ion-view ng-show="question" view-title="{{question.postTitle}}">
  <ion-content padding="true">
    
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/default_avatar.png" />
        <h2>{{question.postTitle}}</h2>
        <p>{{question.userName}}</p>
        <p>Created: {{question.postCreated}}</p>
      </div>

      <div class="item item-body">
        <p>
          {{question.postContent}}
        </p>
        <p>
          <a href="#" class="subdued">{{question.postVotes}} Vote(s)</a>
          <a href="#" class="subdued">{{answers.length}} Answer(s)</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Upvote
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsdown"></i>
          Downvote
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Reply
        </a>
      </div>
    </div>
    <div ng-show="answers" ng-include="'app/templates/answers-list.html'"></div>
  </ion-content>
</ion-view>
