<ion-view view-title="Account Settings">
  <ion-content>
    <ion-list>
      <div class="item">
        <button class="button button-block button-energized icon-right ion-log-out" ng-click="logout()">
          Log Out
        </button>
      </div>
      <h4 class="item item-divider">Alert Settings</h4>
      <ion-toggle  ng-model="settings.enablePush" toggle-class="toggle-positive">
        Enable Push
      </ion-toggle>
      <ion-toggle ng-model="settings.enableSMS" toggle-class="toggle-calm">
        Enable SMS
      </ion-toggle>
      <ion-toggle ng-model="settings.enableEmail" toggle-class="toggle-royal">
        Enable Email
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
