<ion-view view-title="Dashboard">
  <ion-content padding="true">
    <div class="row">
      <div class="col text-center">
        <h1>FSE:JiTKb App</h1>
      </div>
    </div>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="What do you need to know right now?" ng-model="query.text">
      </label>
    </div>
      
  <ion-list class="item-remove-animate item-avatar item-icon-right">
       <ion-item ng-repeat="question in questions">
         {{question.title}}
       </ion-item> 
  </ion-list>
 
</ion-content>
</ion-view>
